.about-container {
    min-height: 83.8vh;
}

.about-main {
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-header {
    margin: 1em
}

.about-section {
    margin: 1em 10em;
}

.about-contact {
    display: flex;
    justify-content: center;
    width:100%;
}

.about-contact p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 3rem;
}

.about-contact a {
    text-decoration: none;
    color: ivory;
    transition: all 0.4s ease 0s;
}

.about-contact a:hover {
    color: rgba(197, 115, 230, 0.883);
}

@media (max-width: 767px) {
    .about-section {
        margin: 1em 2em;
    }
}

@media (max-width: 678px) {
    .about-contact {
        flex-direction: column;
    }
}