.about-skills {
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
    margin: 0em 5em;
}

.skills-section {
    display:flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.skill-icon {
    margin: 1em;
    padding: 1em 2em 0em 2em;
    opacity: 0.85;
    border: 1.7px solid whitesmoke;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
    transition: all 0.4s ease 0s;
}

.icon-img {
    width:70px;
    height:70px;
    color:whitesmoke;
    opacity: 0.7;
    transition: all 0.4s ease 0s;
}

.skill-icon-desc {
    color:black;
}

.skill-icon:hover {
    transform: scale(1.05);
    opacity: 1;
    border: 2.2px solid rgba(197, 115, 230, 0.883);
}

.skill-icon:hover .skill-icon-desc {
    transition: all 0.4s ease 0s;
    color: whitesmoke;
}

.skill-icon:hover .icon-img {
    opacity: 1;
}

.skill-img {
    max-height:100%;
    max-width:100%;
}

#expressicon {
    filter: invert(1)
}

@media (max-width: 767px) {
    .skill-icon-desc {
        color: whitesmoke;
        font-size: 0.7rem;
    }

    .about-skills {
        margin: 0em 2em;
    }

    .skill-icon{
        opacity: 1;
    }

    .icon-img {
        opacity: 1;
    }
}