.footer {
    position: sticky;
    text-align: center;
    min-width:100%;
    background-color: green;
}

.footer-left {
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.footer-icons {
    list-style-type: none;
    padding: 0em 2em 0em 2em;
    font-size: 2rem;
}